/* line 42, cvlist/*.png */
.cvlist-sprite { background: url('../slice/cvlist-sdb72d96447.png') no-repeat; }

/* line 2, ../sass/bases/_reset.scss */
html, body { height: 100%; }

/* line 5, ../sass/bases/_reset.scss */
body { font-family: "Microsoft YaHei", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "Hiragino Sans GB", "Source Han Sans CN Normal", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif; font-size: 12px; background-color: whitespace; color: #002435; }

/* line 11, ../sass/bases/_reset.scss */
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, menu, nav, section { margin: 0; padding: 0; }

/* line 14, ../sass/bases/_reset.scss */
ul, ol { list-style: none; }

/* line 17, ../sass/bases/_reset.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 21, ../sass/bases/_reset.scss */
th { text-align: inherit; }

/* line 24, ../sass/bases/_reset.scss */
iframe { display: block; }

/* line 27, ../sass/bases/_reset.scss */
input, img, fieldset, textarea { border: none; }

/* line 30, ../sass/bases/_reset.scss */
img { max-width: 100%; height: auto; vertical-align: top; }

/* line 35, ../sass/bases/_reset.scss */
strong, b { font-weight: bold; }

/* line 38, ../sass/bases/_reset.scss */
caption, em, i, th { font-style: normal; font-weight: 400; }

/* line 42, ../sass/bases/_reset.scss */
button, input, select, textarea, h1, h2, h3, h4, h5, h6 { font-size: 100%; }

/* line 45, ../sass/bases/_reset.scss */
input, textarea { font-size: 14px; font-family: "Microsoft YaHei"; }

/* line 49, ../sass/bases/_reset.scss */
select, input { vertical-align: middle; }

/* line 52, ../sass/bases/_reset.scss */
input { background: transparent; }

/* line 55, ../sass/bases/_reset.scss */
select, a, input[type="text"], input[type="password"], input[type=submit], button, input[type=button], textarea { outline-style: none; -webkit-appearance: none; border-radius: 0; }

/* line 60, ../sass/bases/_reset.scss */
audio, canvas, video { display: inline-block; }

/* line 63, ../sass/bases/_reset.scss */
del { text-decoration: line-through; }

/* line 66, ../sass/bases/_reset.scss */
hr { border: none; border-bottom: 1px solid #cfcfcf; margin-bottom: 8px; height: 10px; }

/* line 71, ../sass/bases/_reset.scss */
a, a:hover { text-decoration: none; }

/* line 74, ../sass/bases/_reset.scss */
a:focus { outline: none; }

/* line 95, ../sass/mixins/_often.scss */
.textwrap, .textwrap td, .textwrap th { word-wrap: break-word; word-break: break-all; }

/* line 99, ../sass/mixins/_often.scss */
.textwrap-table { table-layout: fixed; }

/* line 102, ../sass/mixins/_often.scss */
.hide { display: none !important; }

/* line 105, ../sass/mixins/_often.scss */
.show { display: block !important; }

/* line 108, ../sass/mixins/_often.scss */
.no-visible { visibility: hidden !important; }

/* line 111, ../sass/mixins/_often.scss */
.overy-auto { overflow: auto !important; }

/* line 114, ../sass/mixins/_often.scss */
.hei-auto { height: auto !important; }

/* line 117, ../sass/mixins/_often.scss */
.fl { float: left; }

/* line 120, ../sass/mixins/_often.scss */
.fr { float: right; }

/* line 123, ../sass/mixins/_often.scss */
.txt-cen { text-align: center; }

/* line 126, ../sass/mixins/_often.scss */
.txt-rig { text-align: right; }

/* line 129, ../sass/mixins/_often.scss */
.v-middle { vertical-align: middle; }

/* line 132, ../sass/mixins/_often.scss */
.yel { color: #ffa13d; }

/* line 135, ../sass/mixins/_often.scss */
.blu { color: #0088cb; }

/* line 138, ../sass/mixins/_often.scss */
.main-col { color: #002435; }

/* line 141, ../sass/mixins/_often.scss */
.gray { color: #818486; }

/* line 144, ../sass/mixins/_often.scss */
.gray-low { color: #c2c6cb !important; cursor: default; }

/* line 148, ../sass/mixins/_often.scss */
.wid-l { width: 850px; }

/* line 151, ../sass/mixins/_often.scss */
.mar-l8 { margin-left: 5px; }

/* line 154, ../sass/mixins/_often.scss */
.mar-r8 { margin-right: 8px; }

/* line 157, ../sass/mixins/_often.scss */
.mar-t0 { margin-top: 0 !important; }

/* line 160, ../sass/mixins/_often.scss */
.mar-t5 { margin-top: 5px; }

/* line 163, ../sass/mixins/_often.scss */
.mar-r50 { margin-right: 50px !important; }

/* line 166, ../sass/mixins/_often.scss */
.padd-20 { padding: 20px; }

/* line 169, ../sass/mixins/_often.scss */
.font-24 { font-size: 24px; }

/* line 172, ../sass/mixins/_often.scss */
.font-14 { font-size: 14px; }

/* line 176, ../sass/mixins/_often.scss */
.z-index67 { z-index: 66; }

/* line 179, ../sass/mixins/_often.scss */
.z-index66 { z-index: 66; }

/* line 182, ../sass/mixins/_often.scss */
.z-index65 { z-index: 65; }

/* line 185, ../sass/mixins/_often.scss */
.z-index64 { z-index: 64; }

/* line 188, ../sass/mixins/_often.scss */
.z-index63 { z-index: 63; }

/* line 191, ../sass/mixins/_often.scss */
.z-index62 { z-index: 62; }

/* line 194, ../sass/mixins/_often.scss */
.z-index61 { z-index: 61; }

/* line 197, ../sass/mixins/_often.scss */
.z-index60 { z-index: 60; }

/* line 1, ../sass/modules/_pubmod.scss */
.bardrop { border: 1px solid #333333; }
