// ..............................................................................compass-sprite-set..........................
@import "compass/utilities/sprites";
$icon-layout:smart;
$cvlist-spacing:1px;
$cvlist-sort-by: 'width';
@import "cvlist/*.png";
$cvlist-sprite-dimensions:true;
// .......................width............................................................................

$p-wid:1100px;
$l-wid:850px;
$left-width:250px;


// .........................font-size...............................................................
$font-42:42px;

$font-30:30px;
$font-24:24px;
$font-22:22px;
$font-20:20px;

$font-18:18px;
$font-16:16px;
$font-14:14px;
$font-12:12px;


//..................................color...........................................................



$ligh-col:#0088cb;
$ligh-col-hov:#007fbd;
$yellow:#ffa13d;
$yellowish:#ffd1a0;
$red:#db4647;


$main-col:#002435;
$gray-col:#818486;
$p-col:#1e1e1e;
$tip-col:#c2c6cb;
$any-bor:#e2e2e4;
$sel-hov:#919499;
$hei-bor:#d2d2d2;

$line-col:#e1e5ea;
$line-low:#edf1f5;


$whi-col:#fff;
$black:#000;
$bg-col:#FFFFFF;
$bor-col:#ebebeb;
$one-bor:1px solid $bor-col;
$act-col:#00aff0;
$ligact-col:#0096cc;
$font-col:#8CD595;
$font-ligcol:#aaaaaa;
$font-midcol:#888888;
$font-heicol:#333333;
$font-errcol:#ff6a00;
$gray-bgcol:#fafafa;
