<% include header %>
<div class="container">
	  <div class="container-fluid">
	  <div class="row second-bar">
	  	<div class="col-md-4">
			    <div class="btn-group" role="group" aria-label="...">
				  <a href="/"><button type="button" class="btn btn-default">网站首页</button></a>
				  <a href="/about"><button type="button" class="btn btn-default">关于我</button></a>
			</div>
	  	</div>
	  	<div class="col-md-8 text-right">
			<span>n像“草根”一样，紧贴着地面，低调的存在，冬去春来，枯荣无恙。</span>
		</div>
	  </div>
	  <hr class="yanyuhr">
	 <h2>just about me</h2>
	 <p>杨青，女，一个80后草根女站长！09年入行，从业已经有三四年。从搬砖一样的生活方式换成了现在有“单”而居的日子。当然这个单不是单身的单，跟我的职业相比，爱情脱单并不是问题！虽然极尽苛刻的征婚条件但也远不及客户千奇百怪的要求。告别了朝九晚五，躲过了风吹日晒，虽然不再有阶梯式的工资，但是偶尔可以给自己放放假，挽着老公，一起轻装旅行。</p>
	 <p>人生就是一个得与失的过程，而我却是一个幸运者，得到的永远比失去的多。生活的压力迫使我放弃了轻松的前台接待，放弃了体面的编辑，换来虽有些蓬头垢面的工作，但是我仍然很享受那些熬得只剩下黑眼圈的日子，因为我在学习使用Photoshop、Flash、Dreamweaver、ASP、PHP、JSP...中激发了兴趣，然后越走越远....</p>
	  </div>
</div>
  <% include footer %>