body {
  font: 14px;
  color: #333333;
  padding-bottom: 50px; }

a {
  color: #333333; }

.bardrop {
  border: 1px solid #333333; }

.icon-bar {
  background: #333333; }

.person-head .thumbnail {
  padding: 0; }

.blog-title {
  margin-top: 0;
  height: 20px; }

.blogText {
  /*height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;*/ }

.media-list {
  text-align: center;
  line-height: 30px; }

body {
  font: 14px;
  color: #333333; }

a {
  color: #333333; }

.bardrop {
  border: 1px solid #333333; }

.icon-bar {
  background: #333333; }

.logreg li {
  float: left; }

.logo {
  background: url(../img/logo.png) no-repeat;
  width: 175px; }

.person-head .thumbnail {
  padding: 0; }

.blog-title {
  margin-top: 0; }

.media-list {
  text-align: center;
  line-height: 30px; }

.weibo {
  background: url(../img/weibo.png) no-repeat;
  width: 52px;
  height: 52px; }

.tip-list div {
  padding: 0; }

footer {
  height: 100%;
  text-align: center;
  background: black;
  color: white; }

.yanyuhr {
  margin-top: 0; }

.welcome {
  padding-top: 5px;
  margin-right: 5px; }

.Editor-editor {
  height: 400px; }

.userTip {
  padding: 8px;
  margin: 0; }
