@mixin backgroundTransparent($bgcolor,$opacity,$support-for-ie:true){
    background-color:rgba($bgcolor,$opacity);
    @if $support-for-ie{
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{ie-hex-str(rgba($bgcolor,$opacity))},endColorstr=#{ie-hex-str(rgba($bgcolor,$opacity))});
        :root & {
            filter:none;
        }
    }
}
//@include opacity;
@mixin opacity($opacity:.65,$support-for-ie:true) {
    opacity: $opacity;
    @if $support-for-ie{
        $opacity-ie: $opacity * 100;
        filter: alpha(opacity=$opacity-ie); //IE8
    }
}
